<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

# Data Science Tools and Ecosystem

# In this notebook, Data Science Tools and Ecosystem are summarized

#
**Objectives**
- list of popular language of data science
- commonly used libraries in data science
- open sourced tools
- arithmetic expression
- GitHub

# Some of the popular language that Data Scientists use are:
1. Python
2. R
3. SQL
4. Java
5. Scala
6. Java Script
7. C++
8. Julia

# Some Commonly used libraries used by Data Scientists includes:
1. Panda
2. Num Py
3. Matplotlib
4. Keras
5. Tensor Flow
6. Py Touch
7. Apache Spark
8. Scala Library

| Data Science Tools |         |        |
|--------------------|---------|--------|
| Jupyter Notebook | R Studio | ANACONDA |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
#
(3*4)+5
# This is a simple arithmetic expression to multiply then add integer

17

In [2]:
#
200/60
# This will convert 200 minutes into hours by dividing by 60

3.3333333333333335

## Author
Jyotsana